@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#AvatarBlack {
  animation: fadeInUp 1s;
}

#smallBalls circle {
  animation: floatAround 5s ease forwards infinite;
  animation-delay: calc(var(--order) * 200ms);
}

@keyframes floatAround {
  0% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-10%);
  }
  100% {
    transform: translatY(0%);
  }
}

#bigBalls circle {
  animation: floatAroundBig 5s ease forwards infinite;
  animation-delay: calc(var(--order) * 200ms);
}

@keyframes floatAroundBig {
  0% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(+10%);
  }
  100% {
    transform: translatY(0%);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#redtext {
  background: linear-gradient(
        to bottom right,
        #ff2525 0%,
        #ff5353 20%,
        #ff7676 50%
      )
      bottom right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #ff2525 0%, #ff5353 20%, #ff7676 50%) bottom
      left / 50% 50% no-repeat,
    linear-gradient(to top left, #ff2525 0%, #ff5353 20%, #ff7676 50%) top left /
      50% 50% no-repeat,
    linear-gradient(to top right, #ff2525 0%, #ff5353 20%, #ff7676 50%) top
      right / 50% 50% no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 25px;
}

#purpletext {
  background: linear-gradient(
        to bottom right,
        #8812e4 0%,
        #ab40ff 20%,
        #572d8b 50%
      )
      bottom right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #8812e4 0%, #ab40ff 20%, #572d8b 50%) bottom
      left / 50% 50% no-repeat,
    linear-gradient(to top left, #8812e4 0%, #ab40ff 20%, #572d8b 50%) top left /
      50% 50% no-repeat,
    linear-gradient(to top right, #8812e4 0%, #ab40ff 20%, #572d8b 50%) top
      right / 50% 50% no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: var(--align);
  margin-bottom: 25px;
}
@media (max-width: 640px) {
  #purpletext {
    font-size: 30px;
  }
  #redtext{
    font-size: 30px;
  }
}